h1{
	color: #ee2ee1;
	text-align: center;
}
h2{
	color:#C2C2C2;
}
h3{
	color: #EEEEEE;
}
h4{
	color: #aaaaaa;
}

body{
	background-color: #39EA74;
}
img{
	width: 20%;
	border: 10px solid #FFFFFF;
}
.birthp{
	color: #395248;
}

