.wrapper{
	margin: 0 auto;
}

.title{

}
.top-paragraph{

}
.mins{
	font-weight: bolder;

}
.center{
	text-align: center;

}
.sec1{
	outline: 1px black solid;
	margin: 50px;
	padding: 20px;
	width: 125%;
}
.sec2{
	
}
.img1{

	width: 40%;

}
.ingredients{
;
}
.h2a{
	padding: 10px;
}
li{
	list-style: none;
	padding-top: 10px;
	padding-left: 5px;
}
.flex{
	display:flex;
	flex-direction: row;
	outline: 3px black solid;
}
.images{
	max-width: 50%

}
.instruct{
	display: flex;
	flex-direction: row reverse;
	justify-content: space-between;
	outline: solid black 1px
}
.green{
	background-color: #06A77D;
}
footer{
	text-align: center;
}
body{
	background: #F1A208;
}
.instructio{
	padding-top: 40px;
}
.oh{
	background-color: #005377;
	
}